$bg-Primary: #02224B;
$bg-secondaire: #546592;
$third-bgcolor: #C4C4C4;
html {
	height: 100%;
  body {
    height: 100%;
    display : table;
    width: 100%;
  }
}

.bg-secondaire{
  background-color: $bg-secondaire;
}
.bg-Primary{
  background-color: $bg-Primary;
}
.third-bgcolor{
  background-color: $third-bgcolor;
}
.imgContainer{
  background-color: $bg-Primary;
  img {
    width: 100%;
  }
}
.listFilme{
  list-style: none;
  a{
    text-decoration: none;
    color: inherit;
  }
  .listTimeFime{
    background-color:  $third-bgcolor;
    color: #000;
  }
    @media (max-width: 992px) { 
      .listTimeFime{
        flex-direction: column;
      }
     }
  
}

.fromBorderErr {
  border: 3px solid red;
}
.margBoxEmail{
  margin:10px 0 10px 0 ;

}

.footer_parent{
  display : table-row;
  height: 20%;
}
